<div class="container" style="top:70px;">
<header>
<h1>Center Homepage </h1>
</header>
<div style="text-align: center;">
	<a href="/center/worker_confirmed"><button class="butt butt1" type="button">Worker Working</button></a>
	<a href="/center/worker_applied"><button class="butt butt1" type="button">Workers Applied</button></a>
	<a href="/center/jobs_posted"><button class="butt butt1" type="button">Jobs Posted</button></a>
	<a href="/center/worker/signup"><button class="butt butt1" type="button">Create Worker ID</button></a>
	<a href="/center/employer/signup"><button class="butt butt1" type="button">Create Employer ID</button></a>
	</div>
	<a href="/center/logout"><div style="text-align:center"><button type="button" class="butt butt1" id="submit">Log Out!</button></a>
</div>
	
	
<!--
<div style="text-align: center;">
	<h1 style="margin-bottom: 20px;">Center Home Page</h1>
	<button type="button"><a href="/center/worker_confirmed">Worker Working</a></button>
	<button type="button"><a href="/center/worker_applied">Workers Applied</a></button>
	<button type="button"><a href="/center/jobs_posted">Jobs Posted</a></button>
	<button type="button"><a href="/center/worker/signup">Create Worker ID</a></button>
	<button type="button"><a href="/center/employer/signup">Create Employer ID</a></button>
</div>
	<a href="/center/logout">Logout</a><br>-->