<h2>Employer Forgot Password</h2>
<form action="" method="POST">
    Employer ID: <input type="text" name="emp_id" placeholder="Enter Employer ID"> <br>
    Aadhaar No.: <input type="text" name="emp_aadhaar" placeholder="Enter Aadhaar"> <br>
    DOB: <input type="date" name="emp_dob" placeholder="DOB"> <br>
    <button type="submit" name="employer-forgot-pwd">Retrieve Password</button>
</form>