<h2>Jobs Posted</h2>
<h3>Employee Id: {{emp_id}}</h3>
<br>
<button type="button"><a href="/employer/jobs">Your Jobs</a></button>
<button type="button"><a href="/employer/requests">Requests</a></button>
<button type="button"><a href="/employer/confirmed">Confirmed</a></button
<a href="/employer/logout">Logout</a>><br>
<h4>No Jobs Posted Yet !!!</h4>
<br>
<button type="button"><a href="/employer/addjob">Add Jobs</a></button><br><br>
<br>