<h2>Employer Login</h2>
<form action="" method="POST">
    Employee ID: <input type="text" name="emp_id" placeholder="Enter Employer ID"> <br>
    Password: <input type="password" name="emp_pwd" placeholder="*******"> <br>
    <button type="submit" name="employer-login">Login</button>
</form>
<button type="button"><a href="/employer/forgotpwd">Forgot Password</a></button>
<button type="button"><a href="/employer/signup">User SignUp</a></button>