<div class="container" style="top:70px;">
<header>
<h1>Job Requets </h1>
<h3>Employer Id: {{emp_id}}</h3>
</header>
<br>
<br>
<br>
<div style="text-align:center"><h1>No Requests received Yet!</h1></div>
<div style="text-align:center"><a href="/employer/confirmed"><button type="button" class="butt butt1" id="submit">Go to confirmed jobs</button></a></div>
<div style="text-align:center"><a href="/employer/jobs"><button type="button" class="butt butt1" id="submit">Go to posted Jobs</button></a></div>
<div style="text-align:center"><a href="/employer/logout"><button type="button" class="butt butt1" id="submit">Log Out!</button></a></div>