<h2>Employer Sign Up</h2>
<form action="/employer/signup" method="POST">
    Employer ID: <input type="text" name="emp_id" placeholder="Enter Employer ID"> <br>
    Employer Name: <input type="text" name="emp_name" placeholder="Enter Employer Name"> <br>
    Phone No.: <input type="number" name="emp_phone" placeholder="Enter Phone Number"> <br>
    Address: <input type="text" name="emp_address" placeholder="Enter Address"> <br>
    Aadhaar No.: <input type="text" name="emp_aadhaar" placeholder="Enter Aadhaar"> <br>
    Password: <input type="password" name="emp_pwd" placeholder="***********"> <br>
    Mail: <input type="mail" name="emp_email" placeholder="Enter Email Id"> <br>
    DOB: <input type="date" name="emp_dob" placeholder="DOB"> <br>
    <label for="male">Male</label>
    <input type="radio" name="emp_gender" value="male">
    <label for="female">Female</label>
    <input type="radio" name="emp_gender" value="female">
    <label for="other">Other</label>
    <input type="radio" name="emp_gender" value="other"> <br>
    <button type="submit" name="employer-signup">Sign Up</button>
</form>