<div class="container" style="top:70px;">
<header>
<h1>Posted Jobs </h1>
<h3>Employer Id: {{emp_id}}</h3>
</header>
<br>
<br>
<br>
<div style="text-align:center"><h1>No Jobs posted Yet!</h1></div>
<div style="text-align:center"><a href="/employer/addjob"><button type="button" class="butt butt1" id="submit">Post Jobs</button></a></div>
<div style="text-align:center"><a href="/employer/requests"><button type="button" class="butt butt1" id="submit">Go to Job Requests</button></a></div>
<div style="text-align:center"><a href="/employer/confirmed"><button type="button" class="butt butt1" id="submit">Go to Confirmed Jobs</button></a></div>
<div style="text-align:center"><a href="/employer/logout"><button type="button" class="butt butt1" id="submit">Log Out!</button></a></div>