<h2>Post New Job</h2>
<h3>Employee Id: {{employer}}</h3>
<form action="" method="POST">
    Employer Name: <input type="text" name="emp_name" placeholder="Enter Employer Name"> <br>
    Date of Start: <input type="date" name="start_date"> <br>
    Duration:-  Days: <input type="number" name="days" placeholder="Enter days"> Months: <input type="number" name="months" placeholder="Enter months"> <br>
    Wage: <input type="number" name="wage" placeholder="Enter wage"> <br>
    Location: <input type="text" name="location" placeholder="Enter Location"> <br>
    Type of Work: <input type="text" name="type_work" placeholder="Enter Type of Work"> <br>
    <button type="submit" name="employer-add-job">Post Job</button>
</form>
<br><br><a href="/employer/logout">Logout</a>