<div class="container" style="top:70px;">
<header>
<h1>Applied Jobs </h2>
<h3>Worker Id: {{worker}} Name: {{workername}}</h3><br/>
</header>
<br>
<br>
<br>
<div style="text-align:center"><h1>No Records Found!</h1></div>
<div style="text-align:center"><a href="/worker/jobs"><button type="button" class="butt butt1" id="submit">Go Back to Available jobs</button></a></div>
<div style="text-align:center"><a href="/worker/confirmed"><button type="button" class="butt butt1" id="submit">Go to Confirmed jobs</button></a></div>
<div style="text-align:center"><a href="/worker/logout"><button type="button" class="butt butt1" id="submit">Log Out!</button></a></div>