<h2>Worker Login</h2>
<form action="" method="POST">
    Worker ID: <input type="text" name="worker_id" placeholder="Enter Worker ID"> <br>
    Password: <input type="password" name="worker_pwd" placeholder="*******"> <br>
    <button type="submit" name="worker-login">Login</button>
</form>
<button type="button"><a href="/worker/forgotpwd">Forgot Password</a></button>
<button type="button"><a href="/worker/signup">User SignUp</a></button>