<h2>Worker Forgot Password</h2>
<form action="" method="POST">
    Worker ID: <input type="text" name="worker_id" placeholder="Enter Worker ID"> <br>
    Aadhaar No.: <input type="text" name="worker_aadhaar" placeholder="Enter Aadhaar"> <br>
    DOB: <input type="date" name="worker_dob" placeholder="DOB"> <br>
    <button type="submit" name="worker-forgot-pwd">Retrieve Password</button>
</form>